.ipynb_checkpoints/
__pycache__/
*.jpg
*.png
*.npy
*.npz
*.json
*.pkl
*.h5
*.csv

# ecog_data/extracted_features/*
# ecog_data/predicted_features/*
# ecog_data/regression_weights/*
# ecog_data/inflated_brain_plotting_files/*
# results/vdvae/*
# results/versatile_diffusion/*